/* typography */
a {
    color: $link;
    text-decoration: none;
    background-color: $tr;
    transition: color $d $f, background-color $d $f, border-color $d $f;
    will-change: color, background-color, border-color;
    &:hover {
        color: $link-hover;
    }
    &.underline {
        text-decoration: underline;
    }
}
.wysiwyg {
    h1 {
        font-size: 60px;
        line-height: 1.1667;
        font-weight: 800;
        color: $b;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h2 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 800;
        color: $b;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h3 {
        font-size: 15px;
        line-height: 1.6667;
        font-weight: 800;
        color: $b;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h4 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h5 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h6 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    p {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    a {
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
    }
    img {
        display: block;
        margin-top: $spacer;
        margin-bottom: $spacer;
        &.alignleft {
            margin: $spacer $spacer $spacer 0;
        }
        &.alignright {
            margin: $spacer 0 $spacer $spacer;
        }
        &.aligncenter {
        }
    }
    blockquote {
        margin-top: $spacer;
        margin-bottom: $spacer;
        padding-left: $spacer;
        font-style: italic;
        p {
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        margin-top: $spacer;
        margin-bottom: $spacer;
        border: 0;
        border-bottom: 1px solid $light-gray;
        &.transparent {
            border-bottom-color: $transparent;
        }
    }
    ul {
        display: block;
        margin: $spacer 0;
        padding: 0;
        list-style: none;
        li {
            font-size: 15px;
            line-height: 1.6667;
            margin-bottom: 25px;
            padding-left: 31px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 6px;
                height: 6px;
                background: $p;
                border-radius: 50%;
            }
        }
    }
    ol {
        display: block;
        margin: $spacer 0;
        padding: 0;
        list-style: inside decimal;
        li {
            font-size: 15px;
            line-height: 1.6667;
            margin-bottom: 25px;
        }
    }
    table {
        width: 100%;
        margin-top: $spacer;
        margin-bottom: $spacer;
        th {
            font-size: 14px;
            line-height: 1.7143;
            font-weight: 800;
            color: $w;
            text-align: right;
            padding: 15px 30px 13px 0;
            background: $gray;
            border: 0;
            &:first-child {
                text-align: left;
                padding-left: 30px;
            }
        }
        td {
            font-size: 15px;
            line-height: 1.6667;
            text-align: right;
            padding: 20px 30px 20px 0;
            border: 0;
            &:first-child {
                text-align: left;
                padding-left: 30px;
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    td {
                        background: $t;
                    }
                }
            }
        }
    }
}